<html>
<head>
  <title>Registration system PHP and MySQL</title>
  <link rel="stylesheet" type="text/css" href="<?php echo $project_path;?>css/style.css">
</head>
<body>
  <div class="header">
  	<h2>Login</h2>
  </div>
	
  <form method="post" action="login.php">
  	<?php 
	if(count($errors)>0):
	?>
	<div style="color:red;">
		<?php foreach ($errors as $error):?>
		 <p><?php echo $error?></p>
		<?php endforeach ?>
	</div>
	<?php endif ?>
  	<div class="input-group">
  	  <label>Username</label>
  	  <input type="text" name="username" value="<?php echo $username; ?>">
  	</div>
  	<div class="input-group">
  	  <label>Password</label>
  	  <input type="password" name="password">
  	</div>
  	<div class="input-group">
  	  <button type="submit" class="btn" name="btn_login">Login</button>
  	</div>
  	<p>
  		Already a member? <a href="index.php">Register</a>
  	</p>
  </form>
</body>
</html>